<ul class="sidenav" id="mobile-sidenav">
  <li class="waves-effect w-full show-on-medium pos-rel lh-0 top-banner">
  </li>
  <li class="user-mobile-drop"></li>
  <li class="waves-effect w-full mt-2">
    <a href="./"><i class="material-icons">home</i> Home</a>
  </li>
  <li class="waves-effect w-full">
    <a href="about"><i class="material-icons">group</i>
      About</a>
  </li>
  <li class="waves-effect w-full" onclick="popOut(this)">
    <a href="services/"><i class="material-icons">card_travel</i>
      Services
    </a>
    <ul class="small-drop">
      <li><a href="services/cdr-analysis" class="truncate">CDR Analysis</a></li>
      <li><a href="services/computer-forensics" class="truncate">Computer Forensics</a></li>
      <li><a href="services/digital-forensic-services" class="truncate">Digital Forensic Services</a></li>
      <li><a href="services/dvr-forensics" class="truncate">DVR Forensics</a></li>
      <li><a href="services/mobile-device-forensics" class="truncate">Mobile Device Forensics</a></li>
    </ul>
  </li>
  <li class="waves-effect w-full">
    <a href="why-allianz"><i class="material-icons">help</i> Why Allianz?</a>
  </li>
  <li class="waves-effect w-full">
    <a href="#"><i class="material-icons">message</i> Blog</a>
  </li>
  <li class="waves-effect w-full">
    <a href="contact"><i class="material-icons">contact_mail</i> Contact</a>
  </li>
</ul>
<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper">
      <a href="./" class="brand-logo fw-700 text-primary px-4"><img src="images/logo.png" class="ml-4 brand-img"
          alt="Allianz Logo" />
      </a>
      <a href="javascript:;" data-target="mobile-sidenav" class="sidenav-trigger text-primary"><i
          class="material-icons">menu</i></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="./" class="hover-text-primary fw-500">Home</a></li>
        <li>
          <a class="hover-text-primary fw-500" href="about">About</a>
        </li>
        <li class="drop">
          <a class=" hover-text-primary fw-500" href="services/">Services</a>
          <ul>
            <li><a href="services/cdr-analysis" class="truncate">CDR Analysis</a></li>
            <li><a href="services/computer-forensics" class="truncate">Computer Forensics</a></li>
            <li><a href="services/digital-forensic-services" class="truncate">Digital Forensic Services</a></li>
            <li><a href="services/dvr-forensics" class="truncate">DVR Forensics</a></li>
            <li><a href="services/mobile-device-forensics" class="truncate">Mobile Device Forensics</a></li>
          </ul>
        </li>
        <li><a href="why-allianz" class="hover-text-primary fw-500">Why Allianz?</a></li>
        <li><a href="#" class="hover-text-primary fw-500">Blog</a></li>
        <li>
          <a href="contact" class="hover-text-primary fw-500">Contact</a>
        </li>
      </ul>
    </div>
  </nav>
</div>