<ul class="sidenav" id="mobile-sidenav">
  <li class="waves-effect w-full show-on-medium pos-rel lh-0 top-banner">
  </li>
  <li class="user-mobile-drop"></li>
  <li class="waves-effect w-full mt-2">
    <a href="./"><i class="material-icons">home</i> Home</a>
  </li>
  <li class="waves-effect w-full">
    <a href="about"><i class="material-icons">group</i>
      About</a>
  </li>
  <li class="waves-effect w-full truncate">
    <a href="products-&-solutions"><i class="material-icons">devices</i>
      Products &amp; Solutions</a>
  </li>
  <li class="waves-effect w-full">
    <a href="about"><i class="material-icons">dashboard</i>
      Services</a>
  </li>
  <li class="waves-effect w-full truncate">
    <a href="why-allianz"><i class="material-icons">person_add</i> Technology Partners</a>
  </li>
  <li class="waves-effect w-full">
    <a href="#"><i class="material-icons">help</i> Support</a>
  </li>
  <li class="waves-effect w-full">
    <a href="contact"><i class="material-icons">contact_mail</i> Contact Us</a>
  </li>
</ul>
<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper">
      <a href="./" class="brand-logo fw-700 text-primary px-4"><img src="images/logo.png" class="ml-4 brand-img"
          alt="Allianz Logo" />
      </a>
      <a href="javascript:;" data-target="mobile-sidenav" class="sidenav-trigger text-primary"><i
          class="material-icons">menu</i></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="./" class="hover-text-primary fw-500">Home</a></li>
        <li><a href="about" class="hover-text-primary fw-500">About</a></li>
        <li><a href="products-&-solutions" class="hover-text-primary fw-500">Products &amp; Solutions</a></li>
        <li><a href="#" class="hover-text-primary fw-500">Services</a></li>
        <li><a href="why-allianz" class="hover-text-primary fw-500">Technology Partners</a></li>
        <li><a href="#" class="hover-text-primary fw-500">Support</a></li>
        <li>
          <a href="contact" class="hover-text-primary fw-500">Contact Us</a>
        </li>
      </ul>
    </div>
  </nav>
</div>